name: Elastic Integration Tests

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '.github/README.md'

permissions:
  contents: read

jobs:
  run-tests:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        remove-dotnet: 'true'
        remove-android: 'true'
    
    - name: Set up Docker Compose
      uses: docker/setup-compose-action@v1
    
    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1
    
    - name: Set up helm
      uses: azure/setup-helm@v4.3.0

    - name: Install bashunit
      run: |
        curl -s https://bashunit.typeddevs.com/install.sh | bash -s bin

    - name: Run the tests
      run: |
        ./bin/bashunit --env .env.bashunit
